*{
    margin:0;
    padding:0;

}

shop{
    width:100%;
    min-height: 100vh;
}

.shop-heading {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.5rem;
    width:100%;
    height:120px;
    gap:10px;
}

