*{
    margin:0;
    padding:0;
}

.cartcard{
width:90%;
height:180px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.647);
display:flex;
align-items: center;
justify-content: space-between;
padding: 20px;
border-radius: 20px;
}

.left-card {
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.left-card img {
    width: 120px; 
    height: 100%;
    /* object-fit: cover; */
}

.name-price {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    font-size: 20px;
}

.right-card button {
background-color: rgb(255, 10, 10);
border:none;
color:white;
font-size: 18px;
padding:10px 20px;
border-radius: 20px;
cursor: pointer;
}

.right-card button:hover {
opacity:0.8;
} 

@media (max-width:750px) {
    .cartcard{
        flex-direction: column;
        width:300px;
        height:350px;
        align-items: start;
       gap:20px;
    }
    .left-card{
flex-direction: column;
align-items: start;
    }
    .name-price {
        font-size: 20px;
        align-items: start;
    }
    .right-card {
align-items: start;
    }
}

