*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.products {
    width:250px;
    height:380px;
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 10px black;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;

}

.products-detail{
    display:flex;
    align-items: start;
    justify-content: start;
    font-size: 18px;
    flex-direction: column;
    gap:10px;
    
}

.products-detail button {
    padding:10px 10px;
    background-color: rgb(27, 31, 35);
    color:white;
    border:none;
    border-radius:10px;
    font-size: 18px;
    cursor: pointer;
}

.products-detail button:hover {
    opacity: 0.8;
}

.products img {
width:100%;
max-height:60%;
}

.product-section {
    width:100%;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

.heading-section {
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(18, 20, 21);
    padding:50px;
    font-size: 60px;
}