*{
    margin: 0;
    padding:0;
}

.home {
    width:100%;
    min-height: 100vh;
    background-color: white;
}

.home .bg {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.home .bg img {
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.48);
    border-radius: 20px;
}

.category-box {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: center;
    gap:20px;
     flex-wrap:wrap; 
     margin-top: 30px;
     padding:20px;
}

.carts {
    width:200px;
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
      flex-direction: column;  
    gap:10px;
    padding:10px;
    border-radius: 20px;
    transition: all 0.4s;
}

.carts img {
    width:100%;
    height:70%;

}

.carts:hover{
    box-shadow: 2px 2px 10px black;
   
}
